php_flag display_errors on
#SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On

# DISABLE DIRECTORY INDEXES
Options -Indexes

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]
RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]
RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]
RewriteRule ^tasks$ controller/task.php [L]

RewriteRule ^users$ controller/users.php [L]

RewriteRule ^sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]
RewriteRule ^sessions$ controller/sessions.php [L]

RewriteRule ^products/([0-9]+)$ controller/products.php?productid=$1 [L]
RewriteRule ^products/published$ controller/products.php?published=Y [L]
RewriteRule ^products/unpublished$ controller/products.php?published=N [L]
RewriteRule ^products/page/([0-9]+)$ controller/products.php?page=$1 [L]
RewriteRule ^products$ controller/products.php [L]

RewriteRule ^categories/([0-9]+)$ controller/categories.php?categoryid=$1 [L]
RewriteRule ^categories$ controller/categories.php [L]

RewriteRule ^images$ controller/images.php [L]
RewriteRule ^images/fix$ controller/images.php?fix=Y [L]
RewriteRule ^images/check$ controller/images.php?check=Y [L]
